
<!-- footer -->
<footer class="footer">
	<div class="inner-wrap">
		<div class="logo-wrap">
			<a href="" class="logo">
				<span class="logo-title"><span class="logo-title-att">LA</span>FORME</span>
				<span class="logo-text">маркетплейс <span class="logo-text-att">товаров и услуг</span></span>
				<span class="logo-mobile">LF</span>
			</a>
		</div>
		<div class="menu-outer-wrap">
			<div class="menu-wrap menu-info">
				<div class="footer-title">Информация</div>
				<ul class="menu">
					<li><a href="">Пользовательское соглашение</a></li>
					<li><a href="">Политика конфиденциальности</a></li>
					<li><a href="">Условия продажи</a></li>
					<li><a href="">Служба поддержки</a></li>
					<li><a href="">Реквизиты</a></li>
				</ul>
			</div>
			<div class="menu-wrap menu-offer">
				<div class="footer-title">Мы предлагаем</div>
				<ul class="menu">
					<li><a href="">Товары</a></li>
					<li><a href="">Услуги</a></li>
					<li><a href="">Опт</a></li>
					<li><a href="">Работа</a></li>
					<li><a href="">Еда</a></li>
					<li><a href="">Детям</a></li>
					<li><a href="">Фитнес</a></li>
					<li><a href="">Исполнителям</a></li>
					<li><a href="">Поставщикам</a></li>
					<li><a href="">Новости</a></li>
					<li><a href="">Помощь</a></li>
				</ul>
			</div>
		</div>
		<div class="contacts-wrap">
			<div class="footer-title">Контакты</div>
			<div class="cnt-wrap">
				<div class="cnt-phone">
					<a href="tel:80000000000" class="link-phone">+7 (000) 000‑00-00</a>
				</div>
				<div class="cnt-phone-info">Консультации и расчёт</div>
			</div>
			<div class="cnt-wrap">
				<div class="cnt-title">Электронная почта:</div>
				<div class="cnt-info">
					<a href="mailto:info@sitename.ru" class="link-email">info@sitename.ru</a>
				</div>
			</div>
			<div class="cnt-wrap">
				<div class="cnt-title">Адрес:</div>
				<div class="cnt-info">г. Москва, Красная площадь, д1, офис 112</div>
			</div>
		</div>
		<div class="info-wrap">
			<div class="copy-wrap">
				© 2022 Все права защищены. <br><a href="">Политика конфиденциальности</a>
			</div>
			<div class="soc-wrap">
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-vk.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-ok.svg" alt="">
				</a>
				<a href="" class="btn-action-ico button-soc">
					<img src="./img/icons/soc-tg.svg" alt="">
				</a>
			</div>
			<div class="action-wrap">
				<a href="" class="btn">
					<span class="button-ico">
						<img src="./img/icons/view.svg" alt="">
					</span>
					<span class="button-title">Версия для слабовидящих</span>
				</a>
			</div>
		</div>
	</div>
</footer>
<!-- /footer -->


<!--popup-outer-box-->
<div class="popup-outer-box" id="popup-reg">
	<div class="popup-box">
		<a href="" class="btn-action-ico ico-close js-popup-close"></a>
		<div class="popup-content-wrap">
			<div class="popup-discount-wrap">
				<div class="item-tile-info tile-cashback tile-bg">
					<div class="tile-total">5<span>%</span></div>
					<div class="tile-title">Зарегистрируйтесь и получите <br><b>скидку на первый заказ</b></div>
				</div>
			</div>
			<form action="/" class="popup-form-wrap">
				<div class="frm-title-wrap">
					<div class="frm-title">Регистрация</div>
				</div>
				<div class="frm-wrap">
					<div class="frm-row">
						<div class="frm-field">
							<input type="text" class="form-input" placeholder="Имя">
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<input type="text" class="form-input" placeholder="Фамилия">
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<input type="tel" class="form-input" placeholder="Телефон">
						</div>
					</div>
					<div class="frm-row">
						<div class="frm-field">
							<input type="email" class="form-input" placeholder="Email">
						</div>
					</div>
					<div class="frm-row-submit">
						<div class="frm-field field-info">Нажимая на кноку вы соглашаетесь с&nbsp;<a href="">Условиями обработки персональных данных</a>, а&nbsp;также с&nbsp;<a href="">Условиями продажи</a></div>
						<div class="frm-field field-submit">
							<button type="submit" class="btn">Зарегистрироваться</button>
						</div>
						<div class="frm-field field-submit">
							<button type="submit" class="btn button-clear">Войти</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div><!--/popup-outer-box-->