
<!-- header -->
<header class="header">
	<div class="inner-wrap">
		<!--logo-wrap-->
		<div class="logo-wrap">
			<a href="" class="logo">
				<span class="logo-title"><span class="logo-title-att">LA</span>FORME</span>
				<span class="logo-text">маркетплейс <span class="logo-text-att">товаров и услуг</span></span>
				<span class="logo-mobile">LF</span>
			</a>
		</div>
		<!--/logo-wrap-->
		<!--actions-menu-wrap-->
		<div class="actions-menu-wrap">
			<!--action-wrap-->
			<div class="action-wrap action-location">
				<a href="" class="btn-header">
					<span class="button-ico">
						<img src="./img/icons/button-location.svg" alt="">
					</span>
					<span class="button-title">Локация</span>
				</a>
			</div>
			<!--/action-wrap-->
			<!--action-wrap-->
			<div class="action-wrap action-login">
				<a href="" class="btn-header">
					<span class="button-ico">
						<img src="./img/icons/button-login.svg" alt="">
					</span>
					<span class="button-title">Вход</span>
				</a>
			</div>
			<!--/action-wrap-->
			<!--action-wrap-->
			<div class="action-wrap action-reg">
				<a href="" class="btn-header">
					<span class="button-ico">
						<img src="./img/icons/button-reg.svg" alt="">
					</span>
					<span class="button-title">Регистрация</span>
				</a>
			</div>
			<!--/action-wrap-->
			<!--action-wrap-->
			<div class="action-wrap action-fav">
				<a href="" class="btn-header" data-counter="34">
					<span class="button-ico">
						<img src="./img/icons/button-fav.svg" alt="">
					</span>
					<span class="button-title">Избранное</span>
				</a>
			</div>
			<!--/action-wrap-->
			<!--action-wrap-->
			<div class="action-wrap action-cart">
				<a href="" class="btn-header" data-counter="1">
					<span class="button-ico">
						<img src="./img/icons/button-cart.svg" alt="">
					</span>
					<span class="button-title">Корзина</span>
				</a>
			</div>
			<!--/action-wrap-->
		</div>
		<!--/actions-menu-wrap-->
		<!--header-top-wrap-->
		<div class="header-top-wrap">
			<div class="header-info-wrap">
				<div class="units-wrap">
					<div class="elm-unit">RUB</div>
				</div>
				<div class="location-wrap">
					<div class="elm-ico">
						<img src="./img/icons/button-location.svg" alt="">
					</div>
					<div class="location-title">Вы находитесь в:</div>
					<div class="location-action js-popup-wrap">
						<a href="" class="btn-location js-btn-toggle">
							<span class="button-title">Москве</span>
						</a>
						<div class="popup-content-block js-popup-block">
							3333
						</div>
					</div>
				</div>
			</div>
			<div class="header-menu-wrap">
				<ul class="menu">
					<li>
						<a href="" class="btn button-type-border button-color-second active">
							<span class="button-ico">
								<img src="./img/icons/menu-cart.svg" alt="">
							</span>
							<span class="button-title">Товары</span>
						</a>
					</li>
					<li>
						<a href="" class="btn button-type-border button-color-second">
							<span class="button-ico">
								<img src="./img/icons/menu-services.svg" alt="">
							</span>
							<span class="button-title">Услуги и компании</span>
						</a>
					</li>
					<li>
						<a href="" class="btn button-type-border button-color-second">
							<span class="button-ico">
								<img src="./img/icons/menu-eat.svg" alt="">
							</span>
							<span class="button-title">Еда и рестораны</span>
						</a>
					</li>
					<li>
						<a href="" class="btn button-type-border button-color-second">
							<span class="button-ico">
								<img src="./img/icons/menu-find.svg" alt="">
							</span>
							<span class="button-title">Найти исполнителя</span>
						</a>
					</li>
					<li>
						<a href="" class="btn button-type-border button-color-second">
							<span class="button-ico">
								<img src="./img/icons/menu-work.svg" alt="">
							</span>
							<span class="button-title">Работа</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!--/header-top-wrap-->
		<!--search-wrap-->
		<div class="search-wrap">
			<form action="/" class="frm-main-search">
				<div class="field-search-wrap">
					<div class="field-search-action js-popup-wrap">
						<a href="" class="btn button-type-light btn-popup js-btn-toggle">Везде</a>
						<div class="popup-content-block js-popup-block">
							3333
						</div>
					</div>
					<div class="field-search-input">
						<input type="text" class="form-input">
					</div>
				</div>
				<button type="submit" class="btn btn-action-ico ico-search"></button>
			</form>
		</div>
		<!--/search-wrap-->
		<!--popup-menu-wrap-->
		<div class="popup-menu-wrap js-popup-wrap">
			<a href="" class="btn-popup btn-action-ico ico-menu js-btn-toggle"></a>
			<div class="popup-content-block js-popup-block">
				<div class="menu-wrap">
					<ul class="menu">
						<li>
							<a href="" class="btn button-type-light active">
								<span class="button-title">Детям</span>
							</a>
						</li>
						<li>
							<a href="" class="btn button-type-light">
								<span class="button-title">Фитнес</span>
							</a>
						</li>
						<li>
							<a href="" class="btn button-type-light">
								<span class="button-title">Бытовая техника</span>
							</a>
						</li>
						<li>
							<a href="" class="btn button-type-light">
								<span class="button-title">Одежда</span>
							</a>
						</li>
						<li>
							<a href="" class="btn button-type-light">
								<span class="button-title">Мебель</span>
							</a>
						</li>
						<li>
							<a href="" class="btn button-type-light">
								<span class="button-title">Автотовары</span>
							</a>
						</li>
						<li>
							<a href="" class="btn button-type-light">
								<span class="button-title">Летние товары</span>
							</a>
						</li>
						<li>
							<a href="" class="btn button-type-light">
								<span class="button-title">Сад и огород</span>
							</a>
						</li>
						<li>
							<a href="" class="btn button-type-light">
								<span class="button-title">Зоотовары</span>
							</a>
						</li>
					</ul>
				</div>
				<div class="catalog-wrap">
					<a href="" class="btn">
						<span class="button-ico">
							<img src="./img/icons/button-catalog.svg" alt="">
						</span>
						<span class="butotn-title">Каталог опт</span>
					</a>
				</div>
			</div>
		</div>
		<!--/popup-menu-wrap-->
	</div>
</header>
<!-- /header -->